* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

body {
  background-image: url("../img/colico.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
