$blancoUno: #FFF;
$blancoDos: #E8E8E8;
$blancoTres: #BABABA;

$salmonUno: #E94F37;
$salmonDos: #EF7F6D;
$salmonTres: #F7BFB6;

$negroUno: #393E41;
$negroDos: #5D6163;
$negroTres: #818486;

$verdeUno: #44BBA4;
$verdeDos: #66C7B4;
$verdeTres: #88D3C5;

$font-openSans: 'Open Sans', sans-serif;

$font-playfair: 'Playfair Display', serif;

$fontSize-xxxxl: 130px;
$fontSize-xxxl: 100px;
$fontSize-xxl: 30px;
$fontSize-xl: 20px;
$fontSize-lg: 18px;
$fontSize-md: 16px;
$fontSize-sm: 14px;
$fontSize-xs: 12px;




